@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cedarville+Cursive&family=Fuzzy+Bubbles&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 60px;
    gap: 10px;
    margin: -10px;
    
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #032030;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 150px;
    margin-right: 20px; /* Adjust as needed */
}

header a {
    float: right;
    color: #E6EBF0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px; /* Add margin to separate nav links */
}

.form-container {
    border: 2px solid #032030;
    background-color: #8EAFD1; 
    padding: 20px;
    margin: auto; 
    width: 80%; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 10px;
    margin-right: 50px;
}

label {
    display: block;
    margin-bottom: 10px;

}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Media query for screens less than or equal to 800px */
@media (max-width: 800px) {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select,
    button {
        padding: 8px;
    }

    label {
        font-size: smaller;
    }
}
